# -----------------------------
# Python
# -----------------------------
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.env
venv/
env/

# -----------------------------
# Flask
# -----------------------------
instance/
*.log

# -----------------------------
# Uploads (user images)
# -----------------------------
static/uploads/

# -----------------------------
# VS Code
# -----------------------------
.vscode/

# -----------------------------
# Windows
# -----------------------------
Thumbs.db
Desktop.ini

# -----------------------------
# Secrets (IMPORTANT)
# -----------------------------
*.env
config.py

# -----------------------------
# MongoDB
# -----------------------------
*.bson
*.json
